<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jyjays.mapper.ArticleMapper">

    <resultMap id="articleResultMap" type="Article">
        <result column="user_id" property="userId"/>
        <result column="comment_id" property="commentId"/>
    </resultMap>


    <select id="selectArticlebyWriter" resultMap="articleResultMap">
        select * from article where writer=#{writer};
    </select>

    <select id="selectArticlebyTitle" resultMap="articleResultMap">
        select *from article where
        <if test="title!=null">
            title=#{title};
        </if>
    </select>
    <select id="selectArticlebyCondition" resultMap="articleResultMap">
        select * from article
        where writer=#{writer} and title=#{title};
    </select>
    <select id="selectAll" resultMap="articleResultMap">
        select * from article join article_like al on article.comment_id = al.id order by al.`like` limit #{page},10;
    </select>
    <select id="selectFuzzy" resultMap="articleResultMap">
        SELECT * FROM article WHERE title LIKE CONCAT('%', #{msg}, '%') OR writer LIKE CONCAT('%', #{msg}, '%') LIMIT #{page}, 10 ;
    </select>

    <insert id="saveArticle" >
        insert into article(user_id, writer, article, title, comment_id) VALUES(#{userId},#{writer},#{article},#{title},#{commentId});
    </insert>

    <update id="updateArticle" parameterType="com.jyjays.dto.ArticleUpd">
        update article
        <set>
            <if test='changedTitle != null and changedTitle !=" "' >
                title = #{changedTitle},
            </if>
            <if test='article != null and article != " "'>
                article = #{article}
            </if>
        </set>
        where writer = #{writer} and title = #{title};
    </update>
    <update id="updateWriter" parameterType="map">
        update article set
            writer =#{writer}
        where user_id=#{userId};
    </update>


    <delete id="deleteArticle" parameterType="com.jyjays.dto.ArticleMsg" >
        delete from article where writer=#{writer} and title=#{title};
    </delete>
</mapper>