<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jyjays.mapper.UserMapper">


    <select id="selectUser" resultType="com.jyjays.domain.User" parameterType="com.jyjays.domain.User">
        select * from loguesr where username=#{username} and password=#{password};
    </select>

    <select id="selectUserbyMap" resultType="com.jyjays.domain.User" parameterType="map">
        select * from loguesr where
        <trim suffixOverrides="and">
            <if test="username!=null and username != ' '"> username=#{username} and</if>
            <if test="password!=null and password !=' '"> password =#{password}</if>
        </trim>

    </select>

    <insert id="insertUser" parameterType="com.jyjays.domain.User" keyProperty="id" useGeneratedKeys="true">
        insert into loguesr (username,password) values(#{username},#{password});
    </insert>

    <update id="updateUserPassword" parameterType="map">
        update loguesr
        <trim prefix="set" suffixOverrides=",">
            <if test="password != null and password!= ' '">password  = #{password},</if>
            <if test="username != null and username!= ' '">username = #{username} </if>
        </trim>
        where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="com.jyjays.domain.User" >
        delete from loguesr where
            <if test="password !=null and password !=' ' ">
                username=#{username} and password=#{password}
            </if>
    </delete>
</mapper>
