<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jyjays.mapper.UserMapper">


    <select id="selectUser" resultType="User" parameterType="com.jyjays.dto.LoginDto">
        select * from loguesr where username=#{username} and password=#{password};
    </select>
    <select id="selectPassword" resultType="java.lang.String">
        select password from loguesr where username=#{username} and phone=#{phone};
    </select>

    <!--    <select id="selectUserbyMap" resultType="com.jyjays.domain.User" parameterType="map">-->
<!--        select * from loguesr where-->
<!--        <trim suffixOverrides="and">-->
<!--            <if test="username!=null and username != ' '"> username=#{username} and</if>-->
<!--            <if test="password!=null and password !=' '"> password =#{password}</if>-->
<!--        </trim>-->

<!--    </select>-->

    <insert id="insertUser" parameterType="com.jyjays.domain.User" keyProperty="id" useGeneratedKeys="true">
        insert into loguesr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null ">
                password,
            </if>
            <if test="phone != null ">
                phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null ">
                #{password},
            </if>
            <if test="phone != null ">
                #{phone},
            </if>
        </trim>
    </insert>



    <update id="updateUser" parameterType="User">
        update loguesr set
        username =#{username},password=#{password},phone=#{phone}
        where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="com.jyjays.dto.LoginDto" >
        delete from loguesr where
            <if test="password !=null">
                username=#{username} and password=#{password}
            </if>
    </delete>
</mapper>
